/* Import fonts to website */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');

/* Main style for website */

/* Styles for tags */
* {
    font-family: 'Nunito', sans-serif;
}

body {
    background: url(/src/res-img/background.gif);
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    font-family: 'Nunito';
    color: red;
}

span {
    color: rgb(0, 255, 13);
}

b {
    font-weight: bolder;
}

footer {
    font-weight: bold;
}

/* Styles for id/classes */
#social {
    padding: 5px;
    text-align: center;
}

#social img {
    width: 45px;
    height: 45px;
}

#header-name {
    color: #fff;
}

#github {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

#aboutwrapper {
    width: 500px;
    height: 250px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #fff;
}

#about-me-header {
    color: darkslateblue;
    text-align: center;
}

#hello-world {
    color: rgb(0, 255, 13);
}

#about-me-main {
    font-family: 'Nunito', sans-serif;
}

.rt {
    font-weight: bolder;
}


/* RESET CSS */

html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}