@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');

body {
    background: url(https://fsystem88.ru/media/cat.gif);
    font-family: 'Nunito', sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
    color: red;
}

#main {
    height: 250px;
    width: 500px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    word-wrap: break-word;
    border: 10px solid #fff;
}

#connect {
    font-size: x-large;
}