@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

body {
    background: url(https://fsystem88.ru/media/cat.gif);
    font-family: 'Baloo 2', cursive;
    color: #fff;
    text-decoration: none;
}

li {
    list-style-type: none;
}

a {
    color: rgb(111, 0, 255);
    text-decoration: none;
}

.wrapper {
    height: 100px;
    width: 100%;
    text-decoration: none;
    -webkit-transition: .4s ease-out;
    -webkit-transition-delay: 0.5s;
    -o-transition: .4s ease-out;
    -o-transition-delay: 0.5s;
    -moz-transition: .4s ease-out;
    -moz-transition-delay: 0.5s;
    transition: .4s ease-out;
    transition-delay: 0.5s;
}

.block {
    padding: 0px;
    margin-bottom: 0px;
    height: 250px;
    width: 500px;
    background-color: #fff;
    display: flex;
    margin-left: auto;
    margin-right: auto;   
    text-decoration: none;
    color: #000;
}

img {
    text-decoration: none;
    width: 45px;
    height: 50px;
}